*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SuisseIntl-Regular",sans-serif;
}

/* Estilo de la cabezera*/

.cabezera{
    width: 100%;
    height: 180px;
    margin: auto;

    
}
.logo{
    margin: 1.6em;
    width: 15%;
    float: left;
}
.logo img{
    width: 100%;
}
.busqueda{
    width: 30%;
    float: left;
    margin-top:1.7em;

}
.busqueda input{
    width: 100%;
    height: 3em;
    padding: 0.3em;
    border: solid 1px lightgray;
    outline: none;
    background-image: url('../imagenes/botonBusquedad.png');
    background-repeat: no-repeat;
    padding-left: 2.5em;
}
.busqueda input:focus{
    border: solid 1px grey;

}
.menu{
    width: 50%;
    float: left;
    margin-top:1.7em;
    margin-left: 0.8em;
}
.menu a{
    float: left;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}
.menu ul{
    text-align: left;
}
.menu li{
    display: inline-block;
    margin:0.5em;
}

.menu a:hover{
    color: #006340;
}
.Rebajas{
    width: 100%;
    height: 40px;
    font-size: 1.5em;
    background-color:rgb(244,243,241);
    text-align: center;
    padding: 0.2em;
    float: left;
}

/*Estilo del cuerpo de la pagina*/

.cuerpo{

    width:95%;
    margin:auto;
    padding: 0;
}


.cartel1{
    width: 100%;
}
.cartel1 img{
    width: 100%;
}

.ProductosRecomendados{
    margin-top: 0.5em;
    width: 100%;
    overflow: hidden;

}

.ProductosRecomendados h1 , .marcasPopulares h1, .zapatillasPopulares h1,
.AccesoriosPopular h1 , .RopaPopular h1, .coleccionablesPopular h1{
    font-size: 1em;
    width: 80%;
    margin: 0.5em;
    display: inline-block;
    float: left;

}
.ProductosRecomendados a , .marcasPopulares a, .zapatillasPopulares a,
.AccesoriosPopular a , .RopaPopular a, .coleccionablesPopular a{
    color: #006340;
    width: 10%;
    margin: 0.5em;
    font-size: 1em;
    font-weight: 600;
    float: right;
    overflow: hidden;
    text-decoration: none;
}



.producto{
    width: 18.7%;
    border: 1px solid lightgray;
    float: left;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 1em;
    padding: 1em;


}
.producto img{
    width: 100%;
    
}
.producto img:hover{
    opacity:0;
}
#uno .imagenProducto{
    background-image: url('../imagenes/airForceBlue2.png');

}
#dos .imagenProducto{
    background-image: url('../imagenes/97Rosas2.png');

}
#tres .imagenProducto{
    background-image: url('../imagenes/97Menta2.png');

}
#cuatro .imagenProducto{
    background-image: url('../imagenes/nmdPharell2.png');

}
#cinco .imagenProducto{
    background-image: url('../imagenes/balenciaga2.png');

}  
.imagenProducto{
    
    background-repeat: no-repeat;
    background-position: 0;
    padding: 0;
    margin: 0;
}


.nombre{
    margin-top: 0.5em;
    font-size: 1em;
}
.precio{
    font-size: 2em;
    font-weight: 600;
    margin-top: 0.4em;
}
.ultimaVenta{
    margin-top:1em ;
    padding: 0.3em;
    font-size: 1em;
    display: inline-block;
    background-color:rgb(244,243,241);
}
.marcasPopulares{
    width: 100%;
    overflow: hidden;
    margin-top:0.5em;

}
.marcas{
    float:left;
    width: 23.5%;
    margin-left:1em;

}
.marcas img{
    width: 100%;
}
.zapatillasPopulares{
    width: 100%;
    clear: both;
    overflow:hidden;
    margin-top: 1em;

}
.cartel2{
    clear: both;
    width: 100%;
    margin-top: 1.3em;
    overflow:hidden;
}
.cartel2_1{
    width: 65%;

    float: left;

}
.cartel2_1 img{
    width: 100%;
}
.cartel2_2{
    width: 30%;
    float: right;

}
.cartel2_2 img{
    width: 100%;
}
.RopaPopular{
    width: 100%;
    clear: both;
    overflow:hidden;
    margin-top: 1em;
}
.AccesoriosPopular{
    width: 100%;
    clear: both;
    overflow:hidden;
    margin-top: 1em;
}
.coleccionablesPopular{
    width: 100%;
    clear: both;
    overflow:hidden;
    margin-top: 1em;
}
.cartel3{
    width: 100%;
}
.cartel3 img {
    width: 100%;
}






