*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SuisseIntl-Regular",sans-serif;
}

/* Estilo de la cabezera*/

.cabezera{
    width: 100%;
    height: 180px;
    margin: auto;

    
}
.logo{
    margin: 1.6em;
    width: 15%;
    float: left;
}
.logo img{
    width: 100%;
}
.busqueda{
    width: 30%;
    float: left;
    margin-top:1.7em;

}
.busqueda input{
    width: 100%;
    height: 3em;
    padding: 0.3em;
    border: solid 1px lightgray;
    outline: none;
}
.busqueda input:focus{
    border: solid 1px grey;

}
.menu{
    width: 50%;
    float: left;
    margin-top:1.7em;
}
.menu a{
    float: left;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}
.menu ul{
    text-align: right;
}
.menu li{
    display: inline-block;
    margin:0.7em;
}

.menu a:hover{
    color: green;
}
.Rebajas{
    width: 100%;
    height: 40px;
    font-size: 1.5em;
    background-color:rgb(244,243,241);
    text-align: center;
    padding: 0.2em;
    float: left;
}

/*Estilo del cuerpo de la pagina*/

.cuerpo{

    border: 1px solid black;
    width:80%;
    height: 20000px;
    margin:auto;
    padding: 0;
}


.cartel1{
    width: 100%;
}
.cartel1 img{
    width: 100%;
}

.ProductosRecomendados{
    width: 100%;
}
.ProductosRecomendados h1 , .marcasPopulares h1, .zapatillasPopulares h1{
    font-size: 1em;
    width: 100%;
    margin: 1em 0 1em 0;

}


.producto{
    width: 15%;
    border: 1px solid lightgray;
    float: left;
    margin-right: 1em;
    padding: 1em;



}
.producto img{
    width: 100%;
}
.nombre{
    margin-top: 0.5em;
    font-size: 1.5em;
}
.precio{
    font-size: 2em;
    font-weight: 600;
    margin-top: 0.4em;
}
.ultimaVenta{
    margin-top:1em ;
    padding: 00.3em;
    font-size: 1em;
    display: inline-block;
    background-color:rgb(244,243,241);
}



