*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SuisseIntl-Regular",sans-serif;
}

/* Estilo de la cabezera*/

.cabezera{
    width: 100%;
    overflow: hidden;
    margin: auto;
    background-color: white;
    border-bottom: solid 1px rgb(224,224,224);
    position: fixed;
    top:0;

    
}
.logo{
    margin: 1.6em;
    width: 15%;
    float: left;
}
.logo img{
    width: 100%;
}
.busqueda{
    width: 30%;
    float: left;
    margin-top:1.7em;

}
.busqueda input{
    width: 100%;
    height: 3em;
    padding: 0.3em;
    border: solid 1px lightgray;
    outline: none;
    background-image: url('../imagenes/botonBusquedad.png');
    background-repeat: no-repeat;
    padding-left: 2.5em;
}
.busqueda input:focus{
    border: solid 1px grey;

}
.menu{
    width: 50%;
    float: left;
    margin-top:1.7em;
    margin-left: 0.8em;
}
.menu a{
    float: left;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}
.menu ul{
    text-align: left;
}
.menu li{
    display: inline-block;
    margin:0.5em;
}

.menu a:hover{
    color: #006340;
}
main{
    margin-top: 10em;
}
.Registro{
    margin: auto;
    margin-top:3em;
    width: 60%;
    overflow: hidden;
    border: 1px solid rgb(224,224,224);
}.inicioSesion{
    width: 50%;
    float: left;
    overflow: hidden;
    padding: 1em;


}
.logoStockx{
    width: 100%;

}
.logoStockx img {
    width: 100%;

}
.google , .facebook{
    border: 1px solid grey;
    color: grey;
    text-align: center;
    margin: 1em;
    font-size:1.3em;
    padding: 1em;
    background-color: white;
}

.formulario{
    width: 50%;
    float: right;
    padding: 2em;
    background-color: white;
    border-left: 1px solid rgb(224,224,224);
}
.formulario input{
    border: none;
    border-bottom: 1px black solid;
    outline: none;
    margin-top: 0.7em;
    width: 100%;
}
.formulario input:focus{
    border: none;
    border-bottom: 1px #006340 solid;
    outline: none;

}

.nombre{
    float: left;
    width: 45%;
    margin-bottom: 2em;
    margin-top: 2em;

}
.apellidos{
    float: right;
    width: 50%;
    margin-bottom: 2em;
    margin-top: 2em;
    


}
.email{
    width: 100%;
    margin-bottom: 1.3em;

}
.email label, .email input{
    width: 100%;
}
.contraseña{
    width: 45%;
    margin-bottom: 1.3em;
    float: left;

}
.repetirContraseña{
    width: 50%;
    margin-bottom: 1.3em;
    float:right;

}
.enviar{
    margin: auto;
    margin-top: 7em;
    width: 100%;
    height: 3em;
    overflow: hidden;

}
.formulario button{
    width: 100%;
    height: 3em;
    color: white;
    background-color: black;

}
.formulario button:hover{
    color: white;
    background-color: rgb(38, 35, 35);
    border: 1px solid black;
}

/*pie de pagina*/
footer{
    margin-top: 3em;
    color: white;
    background-color:rgb(36, 36, 36);
    height: 600px;
}
.listaTendencias ul{
    float: left;
    list-style: none;
    margin: 1em;
    width: 17.7%;
}
.listaTendencias li{
    margin: 1em;
}
.listaTendencias{
    overflow: hidden;
    clear: both;
    width: 95%;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid rgb(138, 138, 138);


}

.informacion{
    float: left;
    display: inline-block;
    padding: 1em;
    border: white solid 1px;
    color: white;
    font-size: 0.6em;
    margin: 4em;
    margin-left: 5em;
}
.informacion:hover{
    color: rgb(39,39,39);
    background-color: white;
}
.redesSociales{
    float: left;
    font-size: 0.45em;
    margin: 5em;
    margin-left: 4em;

}
.redesSociales img{
    width: 100%;
}
.instagram, .Facebook, .twitter{
    margin: 1em;
    width:10%;
    float: left;
}
.youtube{
    width: 15%;
    margin: 0.8em;
    float: left;
}


.app{
    float: left;
    font-size: 0.45em;
    margin: 5em;
    margin-left: 4em;
    
}
.app img{
    width: 100%;

}
.android{
    float: left;
    margin:1em;
    width: 15%;
}
.apple{
    float: left;
    margin:1em;
    width: 13%;
}

.footer2{
    margin: auto;
    width: 60%;
    overflow: hidden;
}

