*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SuisseIntl-Regular",sans-serif;
}

/* Estilo de la cabezera*/

.cabezera{
    width: 100%;
    overflow: hidden;
    margin: auto;
    background-color: white;
    position: fixed;
    top:0px;
    border-bottom: solid 1px rgb(224,224,224);
    z-index: 10;
    
}
.logo{
    margin: 1.6em;
    width: 15%;
    float: left;
}
.logo img{
    width: 100%;
}
.busqueda{
    width: 30%;
    float: left;
    margin-top:1.7em;

}
.busqueda input{
    width: 100%;
    height: 3em;
    padding: 0.3em;
    border: solid 1px lightgray;
    outline: none;
    background-image: url('../imagenes/botonBusquedad.png');
    background-repeat: no-repeat;
    padding-left: 2.5em;
}
.busqueda input:focus{
    border: solid 1px grey;

}
.menu{
    width: 50%;
    float: left;
    margin-top:1.7em;
    margin-left: 0.8em;
}
.menu a{
    float: left;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}
.menu ul{
    text-align: left;
}
.menu li{
    display: inline-block;
    margin:0.5em;
}

.menu a:hover{
    color: #006340;
}



/*Cuerpo de la pagina*/
.cuerpo{
    width: 90%;
    margin: auto;
    overflow: hidden;
    margin-top: 7em;
}

.cartelZapatillas{
    width: 100%;
    background-color: rgb(244,243, 242);
    padding: 2em;
    margin: 2em 0;

}
.cartelZapatillas h1{
    font-weight: 100;
    font-size: 2em;
    margin-bottom: 0.5em;
}
.productosDisponibles{
    height:;

    width: 20%;
    float: left;
}
.productos{
    width: 80%;
    float: left;
}
.marcasDisponibles{
    margin-top: 2em;
    font-size: 0.8em;
}

.marcasDisponibles  ul{
    list-style: none;
    font-size: 1em;
    font-weight:500;
    margin-top: 2em;
}
.marcasDisponibles  li{
    list-style: none;
    font-size: 0.8em;
    font-weight:500;
    margin-top: 0.6em;
}
.tallas{
    margin-top: 3em;
    width: 100%;
    overflow: hidden;
    clear: both;
}
.tallas h1{
    margin-bottom: 0.6em;
}
.tallasDisponibles{
    border: 1px solid black;
    display: inline-block;
    width: 20%;
    float: left;
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;

}
.tallasDisponibles:hover{
    border: 1px solid green;
    background-color: green;
    color: white;
}

.encabezado{
    margin: 0.5em;
    padding: 1em;
    font-size: 1.3em;
}
.encabezado a{
    text-decoration: none;
    color: grey;
    display: inline-block;
    margin-right:0.3em;

}
.encabezado p{
    border-bottom:1px solid black;
    display: inline-block;
    margin-left: 0.3em;
}
.producto{
    width: 23.5%;
    border: 1px solid lightgray;
    float: left;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 1em;
    padding: 1em;

}

.producto img{
    width: 100%;
    
}


.nombre{
    margin-top: 0.5em;
    font-size: 1em;
}
.precio{
    font-size: 2em;
    font-weight: 600;
    margin-top: 0.4em;
}
.ultimaVenta{
    margin:1em ;
    padding: 0.4em;
    font-size: 1em;
    display: inline-block;
    background-color:rgb(244,243,241);
}
.subir{
    width: 50px;
    height: 100px;
    float: left;
    

}
.subir a{
    text-decoration: none;
    color: grey;
    font-size: 1em;


}
.animacion{
    margin-bottom: 1em;
    width: 50px;
    height: 50px;
    position: relative;
    animation-name: subirBajar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-play-state: paused;

  }
.animacion:hover{
    animation-play-state: running;
  }
  
  
  @keyframes subirBajar {
    0%   {left:0px; top:10px;}
  
    50%  {left:0px; top:5px;}
    
    100% {left:0px; top:10px;}
  }
    
/*Animacion es de los oproductos*/
.imagenProducto{
    width: 100%;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 0px;
}
.imagenProducto img:hover{
    opacity: 0; 
}

#uno{
    background-image: url('../imagenes/rolexDorado2.jpg');
    background-size: 100%;
    
}
#dos{
    background-image: url('../imagenes/rolexNegro2.png');
    background-size: 100%;
    
}
#tres{
    background-image: url('../imagenes/rolexNegroRosa2.png');
    background-size: 100%;
    
}
#cuatro{
    background-image: url('../imagenes/madParis2.png');
    background-size: 100%;
    
}
#cinco{
    background-image: url('../imagenes/patekPhilippeNegro2.png');
    background-size: 100%;
    
}
#seis{
    background-image: url('../imagenes/patekPhilipPlata2.jpg');
    background-size: 100%;
    
}
#siete{
    background-image: url('../imagenes/rolexDateOro2.png');
    background-size: 100%;
    
}
#ocho{
    background-image: url('../imagenes/rolexDatePlata2.png');
    background-size: 100%;
    
}
#nueve{
    background-image: url('../imagenes/rolexDateRosa2.png');
    background-size: 100%;
    
}
#diez{
    background-image: url('../imagenes/rolexPlataOro2.png');
    background-size: 100%;
    
}
#once{
    background-image: url('../imagenes/audemansPiguet2.png');
    background-size: 100%;
    
}
#doce{
    background-image: url('../imagenes/rolexPlataRosa2.png');
    background-size: 100%;
    
}
#trece{
    background-image: url('../imagenes/rolexOroPlata2.png');
    background-size: 100%;
    
}
#catorce{
    background-image: url('../imagenes/rolexPlataRojo2.png');
    background-size: 100%;
    
}
#quince{
    background-image: url('../imagenes/rolexVerde2.png');
    background-size: 100%;
    
}
#dieciseis{
    background-image: url('../imagenes/hublot2.png');
    background-size: 100%;
    
}


















/*pie de pagina*/
footer{
    margin-top: 3em;
    color: white;
    background-color:rgb(36, 36, 36);
    height: 600px;
}
.listaTendencias ul{
    float: left;
    list-style: none;
    margin: 1em;
    width: 17.7%;
}
.listaTendencias li{
    margin: 1em;
}
.listaTendencias{
    overflow: hidden;
    clear: both;
    width: 95%;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid rgb(138, 138, 138);


}

.informacion{
    float: left;
    display: inline-block;
    padding: 1em;
    border: white solid 1px;
    color: white;
    font-size: 0.6em;
    margin: 4em;
    margin-left: 5em;
}
.informacion:hover{
    color: rgb(39,39,39);
    background-color: white;
}
.redesSociales{
    float: left;
    font-size: 0.45em;
    margin: 5em;
    margin-left: 4em;

}
.redesSociales img{
    width: 100%;
}
.instagram, .Facebook, .twitter{
    margin: 1em;
    width:10%;
    float: left;
}
.youtube{
    width: 15%;
    margin: 0.8em;
    float: left;
}


.app{
    float: left;
    font-size: 0.45em;
    margin: 5em;
    margin-left: 4em;
    
}
.app img{
    width: 100%;

}
.android{
    float: left;
    margin:1em;
    width: 15%;
}
.apple{
    float: left;
    margin:1em;
    width: 13%;
}

.footer2{
    margin: auto;
    width: 60%;
    overflow: hidden;
}
